# Basic Exploratory Data Analysis

https://machinelearningmastery.ru/exploratory-data-analysis-eda-a-practical-guide-and-template-for-structured-data-abfbf3ee3bd9/  ///  с eda(df)  
https://gist.github.com/jiahao87/c97214065f996b76ab8fe4ca1964b2b5  
https://dev-gang.ru/article/polnoe-rukovodstvo-po-issledovatelskomu-analizu-dannyh-85wltgnosc/  
https://waksoft.susu.ru/2021/07/23/issledovatelskij-analiz-dannyh-v-python-rukovodstvo-dlya-novichkov-na-2021-god/  
https://toadmin.ru/как-выполнить-исследовательский-ана/  
https://www.helenkapatsa.ru/razvedochnyy-analiz-dannykh-chast-1/  
https://www.dmitrymakarov.ru/data-analysis/eda-04/  
https://www.kaggle.com/code/emstrakhov/lesson-1-eda-with-pandas

- Предварительный просмотр данных ( df.sample(5) )
- Переименование полей ( df.columns = df.columns.str.lower().str.replace(' ',  '\_') )
- Общее количество записей и типов столбцов ( df.shape, df.info() )
- Проверить любые нулевые значения ( df.isnull().sum() )
- Проверить дубликаты записей ( df[df.duplicated()].shape[0] )
- Преобразование типов данных (время, категориальные типы данных)  
- График распределения числовых данных (одномерное и парное совместное распределение)
- Распределение количества данных категориальных данных
- Анализировать временные ряды числовых данных по дням, месяцам и годам.

In [3]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = sns.load_dataset('taxis')

In [8]:
df.sample(5)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
891,2019-03-29 17:14:39,2019-03-29 17:22:49,1,0.71,6.5,1.62,0.0,12.42,yellow,credit card,Gramercy,Murray Hill,Manhattan,Manhattan
1399,2019-03-06 13:58:42,2019-03-06 14:12:15,1,0.80,9.0,1.50,0.0,13.80,yellow,credit card,Midtown North,Midtown East,Manhattan,Manhattan
1409,2019-03-20 08:09:40,2019-03-20 08:11:55,1,0.58,4.0,1.46,0.0,8.76,yellow,credit card,Yorkville East,Lenox Hill East,Manhattan,Manhattan
6364,2019-03-06 16:13:48,2019-03-06 16:34:05,3,6.82,23.5,5.61,0.0,33.66,green,credit card,Washington Heights South,West Chelsea/Hudson Yards,Manhattan,Manhattan
3363,2019-03-18 21:08:22,2019-03-18 21:14:39,6,1.52,7.0,2.16,0.0,12.96,yellow,credit card,Midtown South,Midtown North,Manhattan,Manhattan

In [9]:
df.shape

(6433, 14)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [12]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [16]:
df[df.duplicated()].shape[0]

0